<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>977561579230-1ieegb0kcu452prvoa8v5fe5kanme8ck.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.977561579230-1ieegb0kcu452prvoa8v5fe5kanme8ck</string>
	<key>API_KEY</key>
	<string>AIzaSyCk7VjIhs_CcPuJc-8eyDicHCFMehREAHE</string>
	<key>GCM_SENDER_ID</key>
	<string>977561579230</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>DaanvH.car-park</string>
	<key>PROJECT_ID</key>
	<string>car-park-13578</string>
	<key>STORAGE_BUCKET</key>
	<string>car-park-13578.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:977561579230:ios:e47ccfea96aff620ee5c4f</string>
</dict>
</plist>
